---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

import { Text } from '@/components/ui/text';
import { Link } from 'lucide-react';
import { ContactForm } from './ContactForm';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Text variant='h1' className='text-center p-2'>{t('hero.title')}</Text>
<div class='text-center p-4 flex justify-center'>
  <a
    href={translatePath('/about')}
    class='hover:underline flex items-center justify-center gap-1.5'
  >
    {t('nav.about')}
    <Link size={14} />
  </a>
</div>

<main class='max-w-lg w-full mx-auto p-6'>
  <ContactForm client:load lang={lang} />
</main>
